.container {
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
}

h1 {
    text-decoration: underline;
}

.bookingform-content {
    background-color: #151E3B;
    display: flex;
    height: 250px;
    justify-content: center;
    padding-top: 10px;
}

.custom-mat-label {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}

:host ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #38384A;
}

:host ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #38384A;
}

.col-auto {
    padding-bottom: 20px;
}

.search-button {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #151E3B;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
    color: #38384A;
    font-weight: bold;
    height: 50px;
    width: 300px;
}