<app-header></app-header>

<div class="container p-0">
    <h1 class="reservation-text">Reserva tu vuelo</h1>
    <div class="bookingform-content">
        <form [formGroup]="bookingForm" class="row m-0 align-items-center" autocomplete="off">
            <div class="col-md col-6">
                <mat-form-field>
                    <mat-label class="custom-mat-label">Desde</mat-label>
                    <input matInput #input maxlength="3" formControlName="origin" required
                        (input)="changeValueToUppercase('origin')">
                    <mat-hint align="end">{{input.value.length || 0}}/3</mat-hint>
                    <mat-error *ngIf="bookingForm.get('origin')?.hasError('required')">
                        Por favor, ingrese un origen
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md col-6">
                <mat-form-field>
                    <mat-label class="custom-mat-label">Hacia</mat-label>
                    <input matInput #input maxlength="3" formControlName="destination" required
                        (input)="changeValueToUppercase('destination')">
                    <mat-hint align="end">{{input.value.length || 0}}/3</mat-hint>
                    <mat-error
                        *ngIf="bookingForm.get('destination')?.hasError('isSameValue') && this.bookingForm.controls['origin'].value">
                        El destino no puede ser igual al origen
                    </mat-error>
                    <mat-error *ngIf="bookingForm.get('destination')?.hasError('required')">
                        Por favor, ingrese un destino
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-auto d-flex justify-content-end">
                <button class="search-button" (click)="test('MDE', 'CTG')">
                    <span>Buscar vuelos</span>
                </button>
            </div>
        </form>
    </div>
</div>

<app-favorite-destinations-cards></app-favorite-destinations-cards>