.container {
    margin-top: 120px;
}

h1 {
    color: #38384A;
    font-weight: bold;
}

.flights-text {
    font-size: 40px;
}

.return-home-button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #38384A;
}

.padding-button {
    padding: 10px 0px 40px 0px;
}