<app-header></app-header>

<div class="container p-0">
    <h1>Vuelos encontrados</h1>
    <div class="container-flights">
        <div class="flight-details">
            <div class="flight-details-content">
                <span>
                    <div>
                        <span>Directo
                            <span>•</span> 9h 50m <span>•</span>
                            <span>AV 16</span>
                        </span>
                    </div>
                </span>
            </div>
            <div class="flight-path">
                <div class="flight-path-left">
                    <div class="location">MDE</div>
                </div>
                <div class="flight-separator left">
                    <div class="flight-separator-line"></div>
                </div>
                <div class="flight-middle vertical-aligned-line"><span class="material-icons"> flight_takeoff </span>
                </div>
                <div class="flight-separator right">
                    <div class="flight-separator-line"></div>
                </div>
                <div class="flight-time-right">
                    <div class="location">MAD</div>
                </div>
            </div>
            <div class="info-bottom">
                <button><span class="flight-detail-link">Detalles del vuelo</span></button>
            </div>
        </div>
    </div>
</div>