<div class="container p-0">
    <div class="d-flex justify-content-end" *ngIf="journeys?.length > 0">
        <span class="mr-2 mt2">Cambiar moneda:</span>
        <mat-button-toggle-group class="currency-options">
            <mat-button-toggle *ngFor="let c of currencyOptions" [value]="c" (change)="changeCurrency($event.value)"
                (click)="currency = c">
                {{c}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="container-flights mb-2" *ngFor="let journey of journeys">
        <div class="flight-details">
            <div class="flight-details-content">
                <span>
                    <div>
                        <span>Número de escalas: {{journey?.flights?.length}}</span>
                    </div>
                </span>
            </div>
            <div class="flight-path">
                <div class="flight-path-left">
                    <div class="location">{{journey?.origin}}</div>
                </div>
                <div class="flight-separator left">
                    <div class="flight-separator-line"></div>
                </div>
                <div class="flight-middle vertical-aligned-line"><span class="material-icons"> flight_takeoff </span>
                </div>
                <div class="flight-separator right">
                    <div class="flight-separator-line"></div>
                </div>
                <div class="flight-time-right">
                    <div class="location" class="mr-2">{{journey?.destination}}</div>
                </div>
            </div>

            <p class="d-flex justify-content-center payments">
                <mat-icon class="mr-2">payments</mat-icon>{{journey?.price | currencyExchange: currency | currency:
                currency}}
            </p>

            <div class="info-bottom mt-2">
                <button (click)="openJourneyDetails(journey)" class="info-bottom-details">Ver detalles del vuelo</button>
            </div>
        </div>
    </div>
</div>